.grid-1-3-1 {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: var(--space-3);
}

.grid-start {
  justify-items: start;
}

.grid-center {
  justify-items: center;
}

.grid-end {
  justify-items: end;
}
